In [2]:
import pandas as pd
df = pd.read_csv('test_data.csv')
df.fillna(0, inplace=True)

In [15]:
start_index=3
end_index=9
selected_variables = df.columns[start_index:end_index]
selected_variables

Index(['Key Figure', 'W36 2023', 'W37 2023', 'W38 2023', 'W39 2023',
       'W40 2023'],
      dtype='object')

In [ ]:
    # Create a multi-select box to choose numerical variables
    num = st.multiselect("Choose numerical variables",
                         df.select_dtypes(include=['category', 'object', 'int64', 'float64']).columns, key='ddd')
    for col in num:
        if df[col].dtype != 'object':
            df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', ''), errors='coerce')
        else:
            df[col] = pd.to_numeric(df[col].str.replace(',', ''), errors='coerce')

In [3]:

# Display the first few rows of the DataFrame
print("\nFirst Few Rows:")
print(df.head())

First Few Rows:
   Location ID    Product ID  Customer ID          Key Figure W36 2023  \
0         8310  10000013044V       104841  Statistical FC Qty        0
1         8310  10000013055V       100010  Statistical FC Qty        0
2         8310  10000013055V       100015  Statistical FC Qty        0
3         8310  10000013055V       100420  Statistical FC Qty    1,560
4         8310  10000013055V       101055  Statistical FC Qty      660

  W37 2023 W38 2023 W39 2023 W40 2023 W41 2023  ... W44 2023 W45 2023  \
0        0        0        0        0        0  ...        0        0
1        0        0        0        0        0  ...        0        0
2        0        0        0        0        0  ...        0        0
3    1,560    1,560    1,337        0        0  ...    3,735        0
4      660      660      566        0        0  ...        0        0

  W46 2023 W47 2023 W48 2023 W49 2023 W50 2023 W51 2023 W52 2023 W01 2024
0        0        0        0        0        0        0        0        0
1        0        0        0        0        0        0        0        0
2        0        0        0        0        0        0        0        0
3    3,733    3,733    3,733    3,733        0        0    3,723        0
4        0        0        0        0        0        0        0        0

[5 rows x 22 columns]

In [ ]:
print(df.head())

In [4]:
selected_numerical_variables =['W37 2023', 'W38 2023' ,'W39 2023', 'W40 2023']
for col in selected_numerical_variables:
    if df[col].dtype != 'object':
        df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', ''), errors='coerce')
    else:
        df[col] = pd.to_numeric(df[col].str.replace(',', ''), errors='coerce')

In [5]:
selected_categorical_variables =['Location ID',   'Product ID' , 'Customer ID'  ]
for col in selected_categorical_variables:
    df[col] = df[col].astype('category')

In [6]:
df_group = df.groupby(selected_categorical_variables)[
        selected_numerical_variables].sum().reset_index()

In [7]:
print(df_group.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2956100 entries, 0 to 2956099
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   Location ID  category
 1   Product ID   category
 2   Customer ID  category
 3   W37 2023     float64
 4   W38 2023     float64
 5   W39 2023     float64
 6   W40 2023     float64
dtypes: category(3), float64(4)
memory usage: 104.6 MB
None

In [8]:
dfg = df.groupby(selected_categorical_variables)[selected_numerical_variables].sum().reset_index()
dfg.info(), dfg.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2956100 entries, 0 to 2956099
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   Location ID  category
 1   Product ID   category
 2   Customer ID  category
 3   W37 2023     float64
 4   W38 2023     float64
 5   W39 2023     float64
 6   W40 2023     float64
dtypes: category(3), float64(4)
memory usage: 104.6 MB

(None, (2956100, 7))

In [ ]:
numeric_columns = df_group.select_dtypes(include='float64').columns
#numeric_columns = df.select_dtypes(include=np.number).columns
numeric_columns
print(df_group.head())

In [ ]:
df_group['cv'] = df_group[numeric_columns].std(axis=1) / df_group[numeric_columns].mean(axis=1)
df_group['cv_squared'] = df_group['cv']**2
print(df_group.info())
df_group.info(), df_group.shape

In [ ]:
print(df_group['cv'])

In [101]:
import pandas as pd
df = pd.read_csv('test_data.csv')
cat = ['Location ID', 'Product ID', 'Customer ID']
num = ['W37 2023', 'W38 2023', 'W39 2023', 'W40 2023']
dfg = df.groupby(cat)[num].sum().reset_index()
dfg.info(), dfg.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8657 entries, 0 to 8656
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  8657 non-null   int64
 1   Product ID   8657 non-null   object
 2   Customer ID  8657 non-null   int64
 3   W37 2023     8657 non-null   object
 4   W38 2023     8657 non-null   object
 5   W39 2023     8657 non-null   object
 6   W40 2023     8657 non-null   object
dtypes: int64(2), object(5)
memory usage: 473.6+ KB

(None, (8657, 7))

In [103]:
import pandas as pd
df = pd.read_csv('test_data.csv')
cat = ['Location ID', 'Customer ID']
num = ['W37 2023', 'W38 2023', 'W39 2023', 'W40 2023']
dfg = df.groupby(cat)[num].sum().reset_index()
dfg.info(), dfg.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412 entries, 0 to 411
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Location ID  412 non-null    int64
 1   Customer ID  412 non-null    int64
 2   W37 2023     412 non-null    object
 3   W38 2023     412 non-null    object
 4   W39 2023     412 non-null    object
 5   W40 2023     412 non-null    object
dtypes: int64(2), object(4)
memory usage: 19.4+ KB

(None, (412, 6))

In [107]:
print(dfg)

     Location ID  Customer ID  \
0           8310         8110
1           8310         8130
2           8310         8320
3           8310         8410
4           8310       100006
..           ...          ...
407         8310       104815
408         8310       104828
409         8310       104841
410         8310       104842
411         8310       104848

                                              W37 2023  \
0                                               989000
1                       00002490000028022,222490000000
2    0000000000000000000000000000000000000000000000...
3                                                00000
4                                            000000000
..                                                 ...
407                                                 00
408                                             000000
409                                                  0
410                                                  0
411                                                 00

                                              W38 2023  \
0                                               989000
1                       00002490000028022,222490000000
2    0000000000000000000000000000000000000000000000...
3                                                00000
4                                            000000000
..                                                 ...
407                                                 00
408                                             000000
409                                                  0
410                                                  0
411                                                 00

                                              W39 2023  \
0                                               940400
1                     000042600031030021,2154200001000
2    0000000000000000000000000000000000000000000000...
3                                                00000
4                                            000000000
..                                                 ...
407                                                 00
408                                          002802412
409                                                 00
410                                                  0
411                                                 00

                                              W40 2023
0                                              6453000
1                   00001,492000216043015,173000007200
2    0000000000000000000000000000000000000000000000...
3                                                00000
4                                            000000000
..                                                 ...
407                                                 00
408                                        00197017086
409                                                 00
410                                                  0
411                                                 00

[412 rows x 6 columns]

In [ ]:


# Check the shape of the DataFrame
print("Shape of df_group:", df_group.shape)
# Check the number of dimensions
print("Number of dimensions:", df_group.ndim)


# Check the shape of the DataFrame
print("Shape of data:", df.shape)

# Check the number of dimensions
print("Number of dimensions:", df.ndim)

In [ ]:
print(df_group)

In [4]:
df.columns

numerical_columns = df.select_dtypes(include='number').columns.tolist()

numerical_columns

['Location ID', 'Customer ID']

In [12]:
import streamlit as st
import pandas as pd
import altair as alt

# Sample data
data = {'CV': [10, 15, 20, 25, 30, 35],
        'cluster': ['A', 'B', 'A', 'B', 'A', 'B']}
df = pd.DataFrame(data)

# Calculate min, max, mean of 'CV' for each cluster
cluster_stats = df.groupby('cluster')['CV'].agg(['min', 'max', 'mean']).reset_index()
cluster_stats

  cluster  min  max  mean
0       A   10   30  20.0
1       B   15   35  25.0

In [ ]:

# Sort clusters based on mean values
sorted_clusters = cluster_stats.sort_values(by='mean', ascending=False)['cluster'].tolist()

# Create a mapping from sorted clusters to categories 'x', 'y', 'z'
cluster_mapping = {cluster: category for cluster, category in zip(sorted_clusters, ['x', 'y', 'z'])}

# Add a new column 'category' based on the mapping
df['category'] = df['cluster'].map(cluster_mapping)

cols = st.columns(2)
x_axis = cols[0].selectbox('Select X-axis variable:', df.columns, index=df.columns.get_loc('category'))
y_axis = cols[1].selectbox('Select Y-axis variable:', df.columns, index=df.columns.get_loc('CV'))

# Scatter plot with Altair
scatter_plot = alt.Chart(df).mark_circle().encode(
    x=x_axis,
    y=y_axis,
    color=alt.Color('cluster:N', title='Cluster'),  # Set legend title
    tooltip=list(df.columns)
).interactive()

# Adding centroid points
centroid_plot = alt.Chart(df.groupby('cluster').mean().reset_index()).mark_point(
    shape='cross',
    size=150,
    strokeWidth=2
).encode(
    x=x_axis,
    y=y_axis,
    color=alt.value('red'),  # Set color for centroids
    tooltip=['cluster:N']  # Display only cluster in tooltip for centroids
)

# Combine scatter plot and centroid plot
final_plot = scatter_plot + centroid_plot
st.subheader('Cluster Results')
st.altair_chart(final_plot, use_container_width=True)

In [ ]:
    # Create a multi-select box to choose categorical variables
    cat = st.multiselect(
        "Choose Planning Level",
        df_before_key_figure.select_dtypes(include=['category', 'object', 'int64', 'float64']).columns
    )

    # Convert selected categorical variables to 'category' type
    for col in cat:
        df[col] = df[col].astype('category')

    central_variable = st.selectbox("Choose Start Period", df_after_key_figure.columns, key='central_variable')
    constant_value = st.number_input("Number of the periods", value=5, step=1, key='constant_value')
    variable_index = df.columns.get_loc(central_variable)
    num = df.columns[variable_index: variable_index + constant_value]
    for col in num:
        if df[col].dtype != 'object':
            df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', ''), errors='coerce')
        else:
            df[col] = pd.to_numeric(df[col].str.replace(',', ''), errors='coerce')
    
    dfg = df.groupby(cat)[num].sum().reset_index()
    df=dfg

In [ ]:
    cat = st.multiselect(
        "Choose Planning Level",
        df_before_key_figure.select_dtypes(include=['category', 'object', 'int64', 'float64']).columns
    )

    for col in cat:
        df[col] = df[col].astype('category')

    col1, col2, col3 = st.columns(3)

    with col1:
        cat = st.multiselect(
        "Choose Planning Level",
        df_before_key_figure.select_dtypes(include=['category', 'object', 'int64', 'float64']).columns
        key='choose_planning_level')

        for col in cat:
            df[col] = df[col].astype('category')

    with col2:
        central_variable = st.selectbox("Choose Start Period", 
                                        df_after_key_figure.columns,  key='choose_start_period')

    with col3:
        constant_value = st.number_input("Number of the periods", value=5, step=1, key='number_of_periods')


    variable_index = df.columns.get_loc(central_variable)
    num = df.columns[variable_index: variable_index + constant_value]
    for col in num:
        if df[col].dtype != 'object':
            df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', ''), errors='coerce')
        else:
            df[col] = pd.to_numeric(df[col].str.replace(',', ''), errors='coerce')

    dfg = df.groupby(cat)[num].sum().reset_index()
    df = dfg